<div id="cluetip" class="clue-right-default  cluetip-default" style="display: block; position: absolute; width: 350px; left: 350px; z-index: 97; top: 100px;">
  <div id="cluetip-outer">
    <div id="cluetip-inner">
      <div id="cluetip-close">
        <a href="#" (click)="onClickClose()">Close</a>
      </div>
      <div class="clsNewPassword">
        <div>
          <b>Password must contain:</b>
          <hr>
          <span *ngFor="let rule of rules">
            <div class="password-rule-div">
               <!--<img src="{{ rule.valid === true ? '/assets/ok.gif' : '/assets/error.gif' }}" /> -->
              <div class="{{ rule.valid === true ? 'valid-image' : 'invalid-image' }}"></div>
              <label class="password-rule-label">{{rule.desc}}</label>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
